@font-face {
  font-family: Bbc;
  src: url("assets/bbc.otf");
}

body {
  margin: 0;
  height: 100%;
  font-family: Bbc, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  /* background-image: url("./assets/image/background.png"); */
  background-size: cover;
  color: #ffffff;
}
